{% extends 'dummy.html' %}


{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body_block %}
    <center>

        {% if username %}

            <h1><marquee behavior="alternate" direction="" scrollamount="20" >Welcome To Home Page Mr/Ms {{username}} </marquee> </h1>
            <img src="https://images.unsplash.com/photo-1542397284385-6010376c5337?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
        {% else %}
             <h1>Welcome To Home Page</h1>
        {% endif %}
   
    </center>
{% endblock %}